[UI]
totalRandomizedColors = 10
totalManualColors = 8
maxSubItemElementLen = 16
usernameVisibilityConf = [0, 0, 0]
userpassVisibilityConf = [1, 0, 0]

[AUTH]
maxUsernameLen = 32
maxUserpassLen = 255
visibleAuthStrLen = 50
sessionDir = "/tmp"

[CMD]
shutdown = "c3VkbyAvdXNyL3NiaW4vc2h1dGRvd24gLWggbm93"
restart = "c3VkbyBzaHV0ZG93biAtciBub3c="
sleep = "c3VkbyBzeXN0ZW1jdGwgc3VzcGVuZA=="

calender = "L3Vzci9iaW4vY2Fs"
cpuStatus = "L3Vzci9iaW4vbXBzdGF0IC1QIEFMTA=="
networkStatus = "L3Vzci9zYmluL3RjcGR1bXAgLS1saXN0LWludGVyZmFjZXM="
availableDesktopEnv = "bHMgL3Vzci9zaGFyZS94c2Vzc2lvbnMgfCByZXYgfCBjdXQgLWQgJy4nIC1mIDIgfCByZXYgfCB0ciAtcyAnCicgJwcn"
usrDefaultEnv = "c3VkbyBjYXQgL3Zhci9saWIvQWNjb3VudHNTZXJ2aWNlL3VzZXJzLyRVU0VSIDI+L2Rldi9udWxsIHwgZ3JlcCAnWFNlKicgfCBjdXQgLWQgJz0nIC1mIDI="
setDesktopEnv = "Y2F0IC91c3Ivc2hhcmUveHNlc3Npb25zLyRTRVNTSU9OLiogfCBncmVwIC1FIC1tIDEgJ15FeGVjXHMqPScgfCBzZWQgJzFzL15FeGVjXHMqPVxzKi8vOyAxcy9eL2V4ZWMgLycgPiAvaG9tZS8kTkVXVVNFUi8ueHNlc3Npb24="

osbase = "Y2F0IC9ldGMvb3MtcmVsZWFzZSB8IGdyZXAgLXcgLUUgJ05BTUU9fFZFUlNJT049JyB8IGN1dCAtZCAnPScgLWYgMiB8IGN1dCAtZCAnIicgLWYgMiB8IHRyIC1zICcKJyAnICc="
systemName = "dW5hbWUgLW4gLW8="

